<% if @photos.any? %>
	<% @photos.each do |photo| %>
		<h3><%= link_to "#{photo.name}", photo_path(photo) %> </h3>	
		<p><%= link_to "Edit #{photo.name}", edit_photo_path(photo) %></p>
	<% end %>
<% else %>	
	No photos
<% end %>

<a href='photos/new'>Add a photo</a>